@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #920903;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(60deg, #fc2f02, #920903);
    border-radius: 10px;
    border: 1px solid #920903;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(60deg, #920903, #fc2f02);
}

.font-kavoon {
    font-family: 'Kavoon', 'serif';
}

.text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-stroke-width: 1px;
    text-stroke-color: black;
}

.text-stroke-2 {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    text-stroke-width: 1.5px;
    text-stroke-color: black;
}
